In [89]:
import pandas as pd
import numpy as np
import pylab
import matplotlib


dataFile = "movie-user-rating-test.csv"
data = pd.read_csv(dataFile, delimiter = ",", error_bad_lines=True, encoding = 'utf-8-sig',na_values = ["NULL",""],header=0,index_col=0);

data.head(5)

,1: Toy Story (1995),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),260: Star Wars: Episode IV - A New Hope (1977),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),...,2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995),Unnamed: 21
755,2.0,5.0,2.0,NaN,4.0,4.0,1.0,2.0,NaN,3.0,...,NaN,5.0,2.0,5.0,4.0,2.0,5.0,NaN,NaN,NaN
5277,1.0,NaN,NaN,2.0,4.0,2.0,5.0,NaN,NaN,4.0,...,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN,NaN
1577,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,NaN,1.0,...,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0,NaN
4388,2.0,3.0,NaN,NaN,NaN,1.0,NaN,3.0,4.0,NaN,...,4.0,NaN,3.0,5.0,NaN,5.0,1.0,1.0,2.0,NaN
1202,NaN,3.0,4.0,1.0,4.0,1.0,4.0,4.0,NaN,1.0,...,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN,NaN

In [95]:
from __future__ import division #so I can have float as std and int as //
import pandas as pd
import pylab
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy
import copy

import pdb #debugger
%matplotlib inline

In [50]:
tsmask = np.logical_not(data.iloc[:,1].isnull())
others = np.logical_not(data.iloc[:,2:].isnull())

similarity = others.apply(lambda x: x & tsmask)

print (similarity)

   1210: Star Wars: Episode VI - Return of the Jedi (1983)  \
0                                                True
1                                               False
2                                               False
3                                                True
4                                               False
5                                                True
6                                               False
7                                               False
8                                                True
9                                                True
10                                               True
11                                               True
12                                              False
13                                              False
14                                               True
15                                              False
16                                              False
17                                               True
18                                               True
19                                               True

   356: Forrest Gump (1994) 318: Shawshank Redemption, The (1994)  \
0                      True                                 False
1                     False                                  True
2                     False                                 False
3                     False                                 False
4                     False                                 False
5                      True                                  True
6                     False                                 False
7                     False                                 False
8                     False                                  True
9                     False                                  True
10                     True                                 False
11                     True                                 False
12                    False                                  True
13                     True                                 False
14                    False                                 False
15                    False                                 False
16                    False                                 False
17                     True                                  True
18                     True                                 False
19                     True                                  True

   593: Silence of the Lambs, The (1991) 3578: Gladiator (2000)  \
0                                   True                   True
1                                   True                   True
2                                  False                  False
3                                  False                   True
4                                  False                  False
5                                  False                  False
6                                  False                  False
7                                   True                   True
8                                   True                   True
9                                   True                  False
10                                 False                   True
11                                 False                  False
12                                  True                  False
13                                  True                  False
14                                  True                   True
15                                 False                  False
16                                 False                  False
17                                  True                   True
18                                 False                   True
19                                  True                  False

   260: Star Wars: Episode IV - A New Hope (1977)  \
0                                            True
1                                            True
2                                           False
3                                           False
4                                           False
5                                            True
6                                           False
7                                            True
8                                            True
9                                            True
10                                           True
11                                           True
12                                           True
13                                           True
14                                           True
15                                          False
16                                          False
17                                           True
18                                           True
19                                           True

   2028: Saving Private Ryan (1998) 296: Pulp Fiction (1994)  \
0                              True                    False
1                             False                    False
2                             False                    False
3                              True                     True
4                             False                    False
5                              True                     True
6                             False                    False
7                             False                     True
8                              True                    False
9                              True                     True
10                            False                    False
11                            False                     True
12                             True                    False
13                            False                    False
14                            False                     True
15                            False                    False
16                            False                     True
17                            False                     True
18                             True                     True
19                             True                     True

   1259: Stand by Me (1986) 2396: Shakespeare in Love (1998)  \
0                      True                             True
1                      True                             True
2                     False                            False
3                     False                            False
4                     False                            False
5                      True                             True
6                     False                            False
7                     False                            False
8                      True                             True
9                     False                            False
10                    False                            False
11                    False                             True
12                    False                            False
13                     True                            False
14                     True                            False
15                    False                            False
16                    False                             True
17                    False                            False
18                     True                             True
19                     True                             True

   2916: Total Recall (1990) 780: Independence Day (ID4) (1996)  \
0                      False                               True
1                       True                               True
2                      False                              False
3                       True                              False
4                      False                              False
5                       True                               True
6                      False                              False
7                       True                               True
8                      False                               True
9                      False                               True
10                      True                               True
11                     False                               True
12                      True                               True
13                      True                               True
14                      True                               True
15                     False                              False
16                     False                               True
17                     False                              False
18                      True                              False
19                     False                               True

   541: Blade Runner (1982) 1265: Groundhog Day (1993)  \
0                      True                       True
1                     False                       True
2                     False                      False
3                      True                       True
4                     False                      False
5                     False                       True
6                     False                      False
7                      True                       True
8                     False                       True
9                     False                      False
10                    False                      False
11                    False                       True
12                    False                       True
13                     True                       True
14                    False                       True
15                    False                      False
16                    False                       True
17                     True                      False
18                    False                      False
19                     True                       True

   2571: Matrix, The (1999) 527: Schindler's List (1993)  \
0                      True                         True
1                     False                         True
2                     False                        False
3                     False                         True
4                     False                        False
5                     False                        False
6                     False                        False
7                     False                         True
8                     False                        False
9                      True                         True
10                     True                        False
11                     True                        False
12                    False                        False
13                     True                         True
14                    False                         True
15                    False                        False
16                     True                        False
17                    False                         True
18                     True                        False
19                     True                         True

   2762: Sixth Sense, The (1999) 1198: Raiders of the Lost Ark (1981)  \
0                           True                                False
1                           True                                 True
2                          False                                False
3                           True                                 True
4                          False                                False
5                           True                                False
6                          False                                False
7                           True                                 True
8                          False                                False
9                           True                                False
10                          True                                 True
11                         False                                False
12                         False                                 True
13                         False                                False
14                         False                                 True
15                         False                                False
16                         False                                False
17                          True                                 True
18                         False                                False
19                          True                                 True

   34: Babe (1995) Unnamed: 21
0            False       False
1            False       False
2            False       False
3             True       False
4            False       False
5             True       False
6            False       False
7            False       False
8             True       False
9            False       False
10            True       False
11            True       False
12           False       False
13           False       False
14            True       False
15           False       False
16           False       False
17            True       False
18           False       False
19           False       False

In [59]:
similaritysum = similarity.sum()
othersum = tsmask.sum()

similaritysum = similaritysum * 100/othersum
similaritysum.sort_values(inplace=True,ascending=False)
similaritysum.head(5)

260: Star Wars: Episode IV - A New Hope (1977)             87.50
780: Independence Day (ID4) (1996)                         81.25
1265: Groundhog Day (1993)                                 75.00
1210: Star Wars: Episode VI - Return of the Jedi (1983)    68.75
296: Pulp Fiction (1994)                                   62.50
dtype: float64

In [104]:
def getCosineCorrMatrix(pandaDF):
  dataArray = pandaDF.fillna(0).values.astype('float') #convert to numpy, float for adjusted values
  numerator = np.einsum('ij,ik', dataArray, dataArray)
  
  L2norm = np.sqrt(np.square(pandaDF.transpose()).sum(axis=1))
  denominator = np.einsum('i,j', L2norm, L2norm)
  
  corrMatrix = pd.DataFrame(numerator/denominator,columns=pandaDF.columns, index=pandaDF.columns)
  
  return corrMatrix

mean = data.mean(axis=1,skipna=True)
L2norm = np.sqrt(np.square(data.transpose()).sum(axis=1))

adj = dfData.sub(dfData.mean(axis=1,skipna=True), axis=0).fillna(0)

array = data.fillna(0).values.astype('int')
numerator = np.einsum('ij,ik', array, array)
euclidianmatrix = np.sqrt(np.square(data.transpose()).sum(axis=1))
denominator = np.einsum('i,j', euclidianmatrix, euclidianmatrix)

cmatrix = pd.DataFrame(numerator/denominator,columns=data.columns, index=data.columns)

cmatrix = getCosineCorrMatrix(adj)

users = data.iloc[3,:]

user = users.fillna(0).values.astype('float')
array = corrMatrix.fillna(0).values.astype('float')
predictions = np.einsum('ij, jk->ki', user, array)

user = users.notnull().values.astype('float')
total = np.einsum('ij, jk->ki', user, array)

predictions = pd.DataFrame(predictions/total,index=cmatrix.columns,columns=users.index)

/Users/andreahalenkamp/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:22: RuntimeWarning: invalid value encountered in true_divide
/Users/andreahalenkamp/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:8: RuntimeWarning: invalid value encountered in true_divide

ValueError: einstein sum subscripts string contains too many subscripts for operand 0